{% extends "::base.html.twig" %}

{% block title %}AppBundle:ForumController:index{% endblock %}

{% block body %}
<h1>Welcome to the ForumController:index page</h1>
    <form action="{{ path('app_forum_add_post') }}" method="post">
        <input hidden type="text" name="id_forum" id="id_forum" value="{{ id_forum }}"/>
        Ajouter un post : <input type="text" name="title" id="title" />
        <input type="submit" value="Ajouter" />
    </form>

    <h2>Listes des posts :</h2>
    <ul>


        {% for id, post in forums %}
        <li><a>{{ post.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
